<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style-main.css" />
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="./style-login.css" />
  <title>Book Exchange</title>
  <script type="text/javascript" src="lib/axios/dist/axios.standalone.js"></script>
  <script type="text/javascript" src="lib/CryptoJS/rollups/hmac-sha256.js"></script>
  <script type="text/javascript" src="lib/CryptoJS/rollups/sha256.js"></script>
  <script type="text/javascript" src="lib/CryptoJS/components/hmac.js"></script>
  <script type="text/javascript" src="lib/CryptoJS/components/enc-base64.js"></script>
  <script type="text/javascript" src="lib/url-template/url-template.js"></script>
  <script type="text/javascript" src="lib/apiGatewayCore/sigV4Client.js"></script>
  <script type="text/javascript" src="lib/apiGatewayCore/apiGatewayClient.js"></script>
  <script type="text/javascript" src="lib/apiGatewayCore/simpleHttpClient.js"></script>
  <script type="text/javascript" src="lib/apiGatewayCore/utils.js"></script>
  <script type="text/javascript" src="apigClient.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1128.0.min.js"></script>

<!--  Add your js scripts here   -->
  <script type="text/javascript" src="donation.js"></script>
  <script type="text/javascript" src="accountManagement.js"></script>

</head>

<body>
  <div id="app">
    <div class="upperPart">
      <el-button type="primary" round onclick="document.getElementById('login').style.display='block'">Login</el-button>
      <h1>Book Exchange</h1>
    </div>
    <div class="belowPart">
      <div class="naviBar">
        <i class="el-icon-s-fold" @click="changeMode"></i>
        <el-menu default-active="1" class="el-menu-vertical-demo" :collapse="isCollapse">
          <el-menu-item index="1" @click="path = 1">
            <i class="el-icon-menu"></i>
            <span>Home</span>
          </el-menu-item>
          <el-menu-item index="2" @click="path = 'donate'">
            <i class="el-icon-menu"></i>
            <span>Donate</span>
          </el-menu-item>
          <el-menu-item index="3" @click="path = 2">
            <i class="el-icon-menu"></i>
            <span>Account</span>
          </el-menu-item>
          <el-menu-item index="4" @click="path = 3">
            <i class="el-icon-document"></i>
            <span>Favorite</span>
          </el-menu-item>
          <el-menu-item index="5" @click="path = 4">
            <i class="el-icon-setting"></i>
            <span>Message</span>
          </el-menu-item>
          <el-menu-item index="6" @click="path = 5">
            <i class="el-icon-setting"></i>
            <span>Cart</span>
          </el-menu-item>
        </el-menu>
      </div>
      <div class="middle" v-if="path == 1">
        <div class="searchbar">
          <el-input placeholder="Search for Book Name" v-model="bookName" class="input-with-select"
            style="width: 90%; margin-bottom: 10px">
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-input>
          <el-select v-model="sortby" slot="prepend" placeholder="Sort By" style="width: 30%">
            <el-option label="Restaurant" value="1"></el-option>
          </el-select>
          <el-select v-model="tag" slot="prepend" placeholder="Tag" style="width: 30%">
            <el-option label="Restaurant" value="1"></el-option>
          </el-select>
          <el-select v-model="category" slot="prepend" placeholder="Category" style="width: 30%">
            <el-option label="Restaurant" value="1"></el-option>
          </el-select>
        </div>
        <div class="imgDisplay">
          <el-row :gutter="20">
            <el-col :span="6"><img src="https://photokit.com/images/editor.min.webp" class="grid-content"></img>
              <el-button type="text" @click="dialogVisible = true">click to open the Dialog</el-button>
              <el-dialog :visible.sync="dialogVisible" width="40%">
                <div class="dialog">
                  <div class="left">
                    <img src="https://photokit.com/images/editor.min.webp" class="imgSize" />
                  </div>
                  <div class="right">
                    <h1>Amazon Unbound</h1>
                    <div class="dialogText">Description</div>
                    <div class="part2">This is new york</div>
                    <div class="part3">
                      <div>
                        <div><i class="el-icon-user-solid"></i>
                          owner:nmlgb6998
                        </div>
                        <div class="Rating-gray">
                          <i v-for="(item,index) in itemClasses" :key="index" class="fa" :class="item"></i>
                        </div>
                      </div>
                      <div></div>
                      <div>credits:5</div>
                    </div>
                    <div>
                      <el-button>Request</el-button>
                    </div>
                  </div>
                </div>
              </el-dialog>
            </el-col>
          </el-row>

        </div>
      </div>
      <div class="middle" v-if="path == 'donate'">
        <div id="donate-popup">
          <div>
            Name of your donated book:
            <el-input id="bookNameInput" placeholder="Ex. Harry Potter" v-model="donatedBook" class="input-with-select"
                      style="width: 90%; margin-bottom: 10px">
            </el-input>

          </div>
          <div>
            Upload a photo:
            <el-upload
                    action="https://z7xnekbzrd.execute-api.us-east-1.amazonaws.com/dev/donate/photos/test2"
                    drag: true
                    accept= "image/*"
                    list-type="picture-card"
                    :on-preview="handlePictureCardPreview"
                    :on-remove="handleRemove">
              <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
              <img width="100%" :src="dialogImageUrl" alt="">
            </el-dialog>

            <input id="imageInput" type="file" accept="image/*" />
          </div>
          <div>
            Add Tags:
            <div id="labelInput">
              <div>
                <input type="checkbox" id="like-new" name="like-new">
                <label for="like-new">Like-new</label>
              </div>
              <div>
                <input type="checkbox" id="hardcover" name="hardcover">
                <label for="hardcover">Hardcover</label>
              </div>
            </div>
          </div>
          <div>
            <el-button type="primary" round onclick="makeDonation()">Donate</el-button>
<!--            <button id='donate-button' onclick="makeDonation()" class="btn">Donate!</button>-->
          </div>
        </div>

      </div>
      <div class="ediChoice">
        <h4 class="title">Editor's choice</h4>
        <img src="https://photokit.com/images/editor.min.webp" height="300" width="180" />
        <div style="color: black">to kill a mocking bird</div>
      </div>

    </div>
  </div>
  <!-- attribution: https://www.w3schools.com/howto/howto_css_login_form.asp-->
  <!--<a href="https://www.flaticon.com/free-icons/male" title="male icons">Male icons created by Freepik - Flaticon</a>-->
  <div id="login" class="modal">


    <!-- Modal Content -->
    <div class="modal-content animate">
      <span onclick="document.getElementById('login').style.display='none'" class="close"
            title="Close Modal">&times;</span>
      <div class="imgcontainer">
        <img src="avatar.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="psw" required>

        <button type="submit" onclick="login()">Login</button>
        <button type="submit" onclick="signUp()">Register</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('login').style.display='none'"
                class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>

    </div>
  </div>
</body>
<!-- import JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  const LENGTH = 5;
  const CLS_ON = "fa-star";
  const CLS_HALF = "fa-star-half-empty";
  const CLS_OF = "fa-star-0";
  new Vue({
    el: "#app",
    data: function () {
      return {
        visible: false,
        isCollapse: false,
        sortby: "",
        tag: "",
        category: "",
        bookName: "",
        donatedBook: "",
        dialogVisible: false,
        path: 1,
        dialogImageUrl: ''
      };
    },
    methods: {
      changeMode() {
        this.isCollapse = !this.isCollapse
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      }
    },
    computed: {
      itemClasses() {
        let result = [];
        // 如 4.8 对分数进行处理, 向下取0.5的倍数
        let score = Math.floor(this.rating * 2) / 2;
        // 用来判断哪种星星的标准
        let integer = Math.floor(score);
        let hasDecimal = score % 1 !== 0;
        for (let i = 0; i < integer; i++) {
          result.push(CLS_ON);
        };
        if (hasDecimal) {
          result.push(CLS_HALF);
        };
        while (result.length < LENGTH) {
          result.push(CLS_OF);
        };
        return result;
      }

  },

  });





</script>

</html>