<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style-main.css" />
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <title>Book Exchange</title>
</head>

<body>
  <div id="app">
    <div class="upperPart">
      <h1>Book Exchange</h1>
    </div>
    <div class="belowPart">
      <div class="naviBar">
        <i class="el-icon-s-fold" @click="changeMode"></i>
        <el-menu default-active="1" class="el-menu-vertical-demo" :collapse="isCollapse">
          <el-menu-item index="1">
            <i class="el-icon-menu"></i>
            <span>Home</span>
          </el-menu-item>
          <el-menu-item index="2">
            <i class="el-icon-menu"></i>
            <span>Account</span>
          </el-menu-item>
          <el-menu-item index="3">
            <i class="el-icon-document"></i>
            <span>Favorite</span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="el-icon-setting"></i>
            <span>Message</span>
          </el-menu-item>
          <el-menu-item index="5">
            <i class="el-icon-setting"></i>
            <span>Cart</span>
          </el-menu-item>
        </el-menu>
      </div>
      <div class="middle">
        <div class="searchbar">
          <el-input placeholder="Search for Book Name" v-model="bookName" class="input-with-select"
            style="width: 90%; margin-bottom: 10px">
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-input>
          <el-select v-model="sortby" slot="prepend" placeholder="Sort By" style="width: 30%">
            <el-option label="Restaurant" value="1"></el-option>
          </el-select>
          <el-select v-model="tag" slot="prepend" placeholder="Tag" style="width: 30%">
            <el-option label="Restaurant" value="1"></el-option>
          </el-select>
          <el-select v-model="category" slot="prepend" placeholder="Category" style="width: 30%">
            <el-option label="Restaurant" value="1"></el-option>
          </el-select>
        </div>
        <div class="imgDisplay">
          <el-row :gutter="20">
            <el-col :span="6"><img src="https://photokit.com/images/editor.min.webp" class="grid-content"></img>
            </el-col>
          </el-row>
        </div>
      </div>
      <div class="ediChoice">
        <h4 class="title">Editor's choice</h4>
        <img src="https://photokit.com/images/editor.min.webp" height="300" width="180" />
        <div style="color: black">to kill a mocking bird</div>
      </div>
    </div>
  </div>
</body>
<!-- import JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: "#app",
    data: function () {
      return {
        visible: false,
        isCollapse: false,
        sortby: "",
        tag: "",
        category: "",
        bookName:""
      };
    },
    methods: {
      changeMode() {
        this.isCollapse = !this.isCollapse
      }
    }
  });




</script>

</html>