body{
  margin: 0;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upperPart {
  text-align: center;
  margin: 0;
  background-color: dodgerblue;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-style: italic;
}

.belowPart {
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content:space-between
}
.naviBar {
  width: 25%;
  height: 80%;
}
.ediChoice {
  width: 200px;
  height: 500px;
  border: 1px solid black;
  margin: 16px;
  text-align: center;
  color: #1e90ff;
  border-radius: 8px;
}
.middle {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.imgDisplay{
  flex-grow: 1;
  margin-top: 30px;
}
.grid-content {
  max-height: 200px;
  width: 100px;
}
.dialog{
  display: flex;
  flex-direction: row;
}
.imgSize{
  height: 80%;
  width: 40%;
}

.right{
  border: 1px solid black;
  flex: 1;
  text-align: left;
}
.dialogText{
  text-decoration: underline; font-size: 20px;
}
.part2{
  border: 1px solid black;
  height: 50px;
  width: 400px;
}
.part3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Rating-gray {
  margin-right: 1.066667vw;
  color: #ffbe00;
  display: inline-block;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
}

