body{
  margin: 0;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upperPart {
  text-align: center;
  margin: 0;
  background-color: dodgerblue;
  color: white;
  height: 200px;
  display: flex;
  font-size: 32px;
  font-style: italic;
}

.belowPart {
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content:space-between
}
.naviBar {
  width: 16%;
  height: 80%;
}
.ediChoice {
  width: 200px;
  height: 500px;
  border: 2px solid #1e90ff;
  margin: 16px;
  text-align: center;
  color: #1e90ff;
  border-radius: 16px;
  margin-right: 30px;
}
.middle {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 16px;
  height: 500px;
}
.imgDisplay{
  flex-grow: 1;
  margin-top: 30px;
}
.grid-content {
  max-height: 200px;
  width: 100px;
  height: 150px;
}
.dialog{
  display: flex;
  flex-direction: row;
}
.imgSize{
  height: 100%;
    width: 150px;
}
.left{
  width: 40%;
}
.right{
  flex: 1;
  text-align: left;
  margin-left: 20px;
}
.line1{
  display: flex;
  flex-direction: row;
  justify-items: center;
    align-items: center;
}
.dialogText{
  text-decoration: underline; font-size: 20px;
}
.part2{
  height: 48%;
  width: 400px;
}
.part3{
  display: flex;
  flex-direction: row;
}
.part4{
  justify-content: flex-end;
  display: flex;
}
.Rating-gray {
  margin-right: 1.066667vw;
  color: #ffbe00;
  display: inline-block;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
}
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 480px;
}
.account{
  margin-top: 100px;
}
.subtitle{
  color: black;
  font-weight: 400;
  margin-top: 10px;
  font-style: italic;
}
.subtitle2{
  margin-top: 22px;
    font-size: 14px;
    color:#606266;
}

#heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  -webkit-transition: background-position 1s steps(28);
  transition: background-position 1s steps(28);
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
#heart.is-active {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  background-position: -2800px 0;
}
